body {
    margin: 0;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main nội dung sẽ chiếm hết phần còn lại */
main {
    flex: 1;
}

header {
    background-color: #ee4d2d;
    padding: 10px 20px;
    text-align: center;
}

header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

header a:hover, header a.active {
    color: #131312;
    text-decoration: underline;
}

.slider {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.slides img {
    width: 100%;
    display: block;
}

.about-text {
    padding: 30px;
    text-align: center;
    background-color: #f9f9f9;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
}

.about-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
    background-color: #fff;
}

.about-gallery img {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.about-gallery img:hover {
    transform: scale(1.05);
}

.product-section-title {
    text-align: center;
    margin-top: 50px;
}

.product-section-title h3 {
    font-size: 28px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.product-item {
    width: 200px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

footer {
    background-color: #ee4d2d;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}
/* Slide */
.slider {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.slides {
    display: flex;
    width: 300%;
    animation: slide 9s infinite;
}
.slides img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
@keyframes slide {
    0% {margin-left: 0;}
    33% {margin-left: -100%;}
    66% {margin-left: -200%;}
    100% {margin-left: 0;}
}
.slider-text {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 20px 0;
    font-size: 20px; /* hoặc chỉnh tùy ý */
}
/* contact */
.contact-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

footer {
    background: #ee4d2d;
    color: white;
    text-align: center;
    padding: 10px 0;
}
